.header{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 57px;
    border-bottom: 2px solid rgb(210, 44, 38);
}

.header_in{
    width: 1200px;
    height: 57px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header_in ul{
    margin-left: 30px;
    display: flex;
    
}

.header_in ul li{
    margin-right: 20px;
    font-size: 16px;
    
}

.list_name{
    color: #4D4D4D;
    font-weight: 600;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    background-color: #fff;
}

.content_header{
    margin: 0 auto;
    width: 1200px;
    
}

.content_title{
    width: 100%;
    padding: 56px 0;
    font-size: 28px;
    text-align: center;
}

.add_content_go {
    padding-top: 15px;
}

.content_go_list {
    margin: 0 auto;
    width: 1200px;
}  

.add_button {
    display: flex;

}

.add_button li {
    background: url('./images/event_arrow.png') no-repeat 0 50%;
    margin-left: 20px;
}

.add_button li:first-child {
    background: none;
}

.add_home {
    font-size: 14px;
    color: rgb(77, 77, 77);
    background: url('./images/event_home.png') no-repeat 0 50%;
    padding-left: 20px;
}

.add_con{
    padding-right: 27px;
    background: url('./images/event_add.png') no-repeat 99.5% 50%;
}

.event_box {
    position: absolute;
    top: 25px;
    left: 0;
    padding: 20px 0;
    width: 250px;
    height: 237px;
    border: 1px solid #ccc;
    z-index: 5;
    background-color: #fff;
}

.event_box > ul > li {
    margin-bottom: 15px;
}

.con_sale{
    width: 100%;
    margin-bottom: 25px;

}

.con_sale h3{
    font-size: 30px;
}

.con_sale p{
    font-size: 16px;
    margin-top: 10px;
}

.section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1200px;

}

.company{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;   
    margin-bottom: 2px; 

}

.company_img{
    width: 380px;
    height: 200px;
    position: relative;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
}

.company_img img{
    position: absolute;

    top: 20%;
    left: 35%;
    overflow: hidden;
}

.company_img_other{
    width: 380px;
    height: 200px;
    overflow: hidden;
}

.company_go{
    padding: 40px;
    width: 820px;
    height: 200px;
    background-color: #d32c26;
    color: #fff;
}

.company_go strong{
    font-size: 24px;
}

.company_go p{
    font-size: 18px;
    padding: 8px 0 10px 0;
}

.company_go button{
    font-size: 16px;
    color: #fff;
    padding: 8px 14px;
    border: 1px solid #fff;
    background: none;
    border-radius: 4px;
}

.company_list{
    display: flex;
    width: 100%;
    margin-top: 40px;

    padding: 40px 0;
    border-top: 1px solid #000;

}

.list_con{
    width: 380px;
    height: auto;
    margin: 0 30px 70px 0;

}

.list_img{
    width: 100%;
    height: 240px;
    padding: 30px;
    border: 1px solid rgb(204, 204, 204);

}

.list_img img{
    width: 100%;
}

.list_con strong{
    display: block;
    margin-top: 20px;
    font-size: 18px; 
    text-align: center;
    line-height: 1.3;
    font-weight: bold;
}

.list_con p{
    margin-top: 5px;
    height: 42px;
    text-align: center;
    padding: 0 87px;
}

.list_con button{
    margin-top: 20px;
    width: 100%;
    line-height: 50px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    color: rgba(255, 255, 255);
    background-color: #7D756D;
}

