.item::before{
    position: absolute;
    top: 0;
    left: 0;
    width: 0px;
    height: 2px;
    content: "";
    display: block;
    z-index: 1;
    background-color: rgb(210, 44, 38);
}

.item::after{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0px;
    height: 2px;
    content: "";
    display: block;
    z-index: 1;
    background-color: rgb(210, 44, 38);
}

.item:hover::before{
    width: 100%;
    transition: width 0.5s ease-out;
}

.item:hover::after{
    width: 100%;
    transition: width 0.5s ease-out;
}

.item{
    float: left;
    margin: 20px 19px 0;
    width: 262px;
    height: 374px;
    position: relative;
}

.product{
    padding-top: 27px;
    height: 100%;
    cursor: pointer;
}

.product::before{

    position: absolute;
    bottom: 0;
    left: 0;
    width: 2px;
    height: 0px;
    content: "";
    display: block;
    z-index: 1;
    background-color: rgb(210, 44, 38);
}

.product::after{
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 0px;
    content: "";
    display: block;
    z-index: 1;
    background-color: rgb(210, 44, 38);
}

.product:hover::before{
    height: 100%;
    transition: height 0.5s ease-out;
}

.product:hover::after{
    height: 100%;
    transition: height 0.5s ease-out;
}

.item_box{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 22px 10px 14px 10px;
    margin-bottom: 8px;
    width: 100%;
    height: 70px;
    text-align: center;
}

.item_link{
    position: absolute;
    top: 203px;
    left: 0px;
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 10px;
    background-color: rgb(255, 255, 255);
    opacity: 0;
    transition: all 200ms ease 0s;
    opacity: 0;
   
}


.shop,
.basket{
    display: inline-block;
    margin: 0 5px;
    vertical-align: top;
}

.basket_img{
    width: 51px;
    height: 51px;
    border-radius: 50%;
    background: url('./images/dutyfree_basket.png') no-repeat 50% 50% #7d756d;
}

.shop_img{
    width: 51px;
    height: 51px;
    border-radius: 50%;
    background: url('./images/dutyfree_shop.png') no-repeat 50% 50% #d22c26;
}

.basket_text,
.shop_text{
    padding: 10px;
    width: 51px;
    height: 51px;
    border-radius: 50%;
    color: #fff;
    font-size: 14px;
    line-height: 1.2;
    background-color: #7d756d;
}

.shop_text{
    background-color: #d22c26;
}

.product:hover .item_name{
   opacity: 0;
}

.product:hover .item_link{
    opacity: 1;
}


.item_img div{
    width: 170px;
    height: 170px;
    margin: 0 46px;

}

.item_img div img{
    width: 170px;
    height: 170px;
}

.item_name{
    padding: 22px 10px 14px 10px;
    margin-bottom: 8px;
    width: 100%;
    min-height: 70px;
    text-align: center;
   
    box-sizing: border-box;

}

.brand{
    margin-bottom: 7px;
    
}

.name{
    font-size:14px ;
    text-align: center;
}

.item_price{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.item_price del{
    font-size: 14px;
    text-align: center;
    color: #4d4d4d;
    margin: 0 2px;
}

.item_price strong{
    font-size: 20px;
    color: #d22c26;;
    margin: 0 2px;
    text-align: center;
    font-weight: bold;
}

.item_price span{
    color: #777;
    margin: 0 2px;
    text-align: center;
    font-size: 14px;
}

.brand{
    font-size: 14px;
    margin-bottom: 3px;
}

.item_label{
    width: 100%;
    height: 22px;
    margin-top: 8px;
    padding: 0 20px;
    box-sizing: border-box;
    font-size: 11px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.lbl_best{
    padding: 2px 8px;
    margin: 2px 1px;
    box-sizing: border-box;
    border: 1px solid #5c6ac4;
    color: #5c6ac4;
}

.lbl_hot{
    padding: 2px 8px;
    margin: 2px 1px;
    box-sizing: border-box;
    border: 1px solid #d22c26;
    color: #d22c26;
}


