.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #fff;
}

.content_box{
    width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content_header{
    
    width: 100%;
    
}

.content_title{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 56px 0;
    font-size: 28px;

}

.subTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    padding: 20px 0;
}

.content_section{
    width: 100%;

}

.event_content{
    float: left;
    width: 380px;
    height: auto;
    margin: 0 10px 70px 10px;
}

.event_img{
    width: 100%;
    height: 218px;
}

.event_img img{
    width: 100%;
    height: 100%;
}

.event_content strong{
    display: block;
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}

.event_num{
    padding-top: 58px;
    margin-bottom: 100px;
    width: 1200px;
    display: flex;
    justify-content: center;
    border-top: 1px solid #e0e0e0;
}


.num{
    padding-top: 35px;


}

.num a{
    width: 40px;
    height: 40px;
    
    background-position: center center;
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    cursor: pointer;
}

.num_prev_first{
    border: 1px solid #ccc;
    border-radius: 50%;
    background: url('./images/num_prev.png') no-repeat ;
    margin-right: 10px;
    
}

.num_prev{
    border: 1px solid #ccc;
    border-radius: 50%;
    background: url('./images/bg_prev2.png') no-repeat ;
    margin-right: 25px;
}

.num a:nth-child(3){
    
    width: 40px;
    height: 40px;
    line-height: 39px;
    border: 1px solid transparent;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}



.add{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    color: #000;
    line-height: 39px;
    text-align: center;
}


.on{
    color: #fff;
    background-color: #d22c26;
    text-align: center;
}

.num_next{
    border: 1px solid #ccc;
    border-radius: 50%;
    background: url('./images/bg_next.png') no-repeat ;
    margin-left: 25px;
}

.num_next_first{
    border: 1px solid #ccc;
    border-radius: 50%;
    background: url('./images/bg_next2.png') no-repeat ;
    margin-left: 10px;
}