.footer{
    width: 100%;
    height: 490px;
    background-color: thistle;
    border-top: 1px solid rgb(204, 204, 204);
}

.header{
    width: 100%;
    height: 70px;
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_in{
    display: flex;
    justify-content: space-between;
    width: 1200px;
    height: 70px;
    padding: 18px 0;
    box-sizing: border-box;
    background-color: aqua;
}

.header_info{
    width: 446px;
    height: 36px;
}

.header_info span{
    display: inline-block;
    vertical-align: middle;
}

.book_title{
    padding: 10px 30px;
    font-size: 14px;
    border-radius: 30px;
    background-color: #eaeaea;
    color: #1a1a1a;
    font-weight: 700;
}

.book_tel{
    margin-left: 20px;
    font-size: 24px;
    font-weight: 700;
    color: #d22c26;
}

.book_time{
    margin-left: 20px;
    font-size: 14px;
    color: #1a1a1a;
}

.connect_site{
    position: relative;
}

.connect_site a{
    display: flex;
    justify-content: space-between;
    padding: 0 1px 17px;
    width: 180px;
    height: 31px;
    border-bottom: 2px solid rgb(26, 26, 26);
    background: url(./images/footer_more.png) 100% 4px no-repeat;
    font-size: 14px;
    color: #1a1a1a;
}

.site_list{
    display: none;
    position: absolute;
    padding: 10px;
    width: 180px;
    border: 1px solid rgb(204, 204, 204);
    background-color: rgb(255, 255, 255);
    z-index: 5;
}

.site_list li{
    
    margin-bottom: 10px;
    font-size: 14px;
    color: rgb(26, 26, 26);
}

.site_list li:last-child{
    margin-bottom: 0;
}


.section{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    padding: 40px 0;
    background-color: #f3f3f3;
}


.footer_menu{
    width: 1200px;
    height: 159px;

}

.footer_menu > ul{
    display: flex;


}

.footer_menu > ul > li{
    padding-left: 30px;
    width: 300px;
}

.footer_menu > ul > li:first-child{
    padding-left: 0;
    
}

.footer_menu > ul > li::after{
    display: block;
    clear: both;
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 1px;
    height: 110px;
    background-color: #ccc;
}

.footer_menu > ul > li:first-child::after{
    width: 0;
}



.footer_menu > ul > li:first-child{
    width: 300px;
    height: 159px;
}

.footer_menu_title{
    margin-bottom: 25px;
    font-size: 18px;
    color: #1a1a1a;

}

.footer_menu_con  {
    display: flex;


}

.footer_menu_con > ul {
    margin-right: 30px;
}

.footer_menu_con > ul > li {
    font-size: 14px;
    padding-bottom: 7px;
}



.copy{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 180px;
    
    padding: 40px 0;
    box-sizing: border-box;
    background-color: #fafafa
}

.copy_info{
    display: flex;

    width: 1200px;
    height: 100px;
}

.info_logo{
    margin-right: 70px;
}

.info_con{
    width: 700px;
    font-style: normal;
}

.info_con p{
    margin-bottom: 10px;
}

.info_con span{
    font-size: 13px;
    color: #1a1a1a;
}

.info_con span::after{
    position: relative;
    top: -2.5px;
    padding: 0 20px;
    content: "|";
    font-size: 10px;
}

.info_con span:last-child::after{
    content: none;
}

.info_security {
    display: flex;
    justify-content: center;
    align-items: center;

}

.security_web{
    width: 100px;
    height: 68.83px;
}

.security_isms{
    width: 100px;
    height: 100px;
}

